## Data Structures:

In [16]:
import numpy as np
import pandas as pd

Exercise 1. Write a function to take in an arbitrary list, and return the original list in reverse order

In [17]:
# I did this in several ways
def ReversedList(l):
    reversedl = []
    for i in range(len(l)):
        reversedl.append(l[-i-1])
    return reversedl

def make_list_backward1(l):
    #takes a list l and returns it backward
    backward_list = []
    for i in range(1, range(1) + 1):
        backwards_list.append(l[-i])
    return backwards_list

def make_list_backward2(l):
    backwards_list = []
    for i in l:
        backwards_list = [i] + backwards_list
    return backwards_list
 
def make_list_backward3(l):
    return l[::-1]

Exercise 2. Write a script which will give a list of all of the items in the shopping basket which are citrus.

`shopping_basket = ['cherry','lemon','celery','grapefruit','apricot'] `.<br>

We have the following dictionary of some fruit by type: <br>
`f_dict = {'citrus':['lemon','lime','grapefruit','orange','pomelo'],'stone fruit':['cherry','apricot','peach'],'pome':['apple','pear','quince']}`. <br>

In [18]:
shopping_basket = ['cherry','lemon','celery','grapefruit','apricot', 'apple']

f_dict = {'citrus':['lemon','grapefruit','orange'],
          'stone fruit':['cherry','apricot','peach'],'pome':['apple','pear','quince']}

f_dict['citrus']

citrus = []
for fruit in shopping_basket:
    if fruit in f_dict['citrus']:
        citrus.append(fruit)
citrus

['lemon', 'grapefruit']

Exercise 3. Consider this dictionary of class marks:<br>
`stulist = ['Paul','Lindsay','Ivan','Emily','Iva']
marks = {'Assignment 1':pd.Series([72,85,87,94,76],index = ixlist),'Assignment 2':pd.Series([82,89,92,92,84],index = ixlist), 'Assignment 3':pd.Series([81,94,90,99,85],index = ixlist), 'Midterm':pd.Series([86,95,92,97,84],index = ixlist), 
'Final Exam':pd.Series([84,92,78,91,92],index = ixlist)}`<br>
Turn this into a Dataframe, wuth a new column to compute the 'Final Grade' with weighting of marks:  30% for Assignments, 30% for the Midterm, and 40% for the Final Exam.

In [19]:
stulist = ['Paul','Lindsay','Ivan','Emily','Eva']
marks = {'Assignment 1':pd.Series([72,85,87,94,76],index = stulist),'Assignment 2':pd.Series([82,89,92,92,84],index = stulist), 'Assignment 3':pd.Series([81,94,90,99,85],index = stulist), 'Midterm':pd.Series([86,95,92,97,84],index = stulist), 
'Final Exam':pd.Series([84,92,78,91,92],index = stulist)}

grades = pd.DataFrame(marks)

#30% for Assignments, 30% for the Midterm, and 40% for the Final Exam.
grades['Final Grade'] = 0.1 * marks['Assignment 1'] + 0.1 * marks['Assignment 2'] + 0.1 * marks['Assignment 3'] + 0.3 * marks['Midterm'] + 0.4 * marks['Final Exam']

grades

,Assignment 1,Assignment 2,Assignment 3,Final Exam,Midterm,Final Grade
Paul,72,82,81,84,86,82.9
Lindsay,85,89,94,92,95,92.1
Ivan,87,92,90,78,92,85.7
Emily,94,92,99,91,97,94.0
Eva,76,84,85,92,84,86.5

Exercise 4. Write a function which takes in an arbitrary list of numbers, and returns the mean without using np.mean(listname).

In [21]:
test_list = [25, 54, 27, 54, 23, 47, 23, 4 , 27, 36, 26, 12, 41]

total = 0
for n in test_list:
    total += int(n)
    mean = total/len(test_list)   # or use sum(test_list)
print(mean)

30.692307692307693

Exercise 5. 

A. Create a list using a comprehension which contains all of the odd numbers from $-10$ to $10$ (inclusive).

B. Use a list comprehension to determine how many times letters from the first half of the alphabet appear in the following sentence:<br>
    'To construct the notion of a Lie group in Dirac geometry, the Courant algebroids A must themselves carry a multiplicative structure.'


C. Write a list comprehension whose elements are lists `[x,y]`, where `x` can take on the values `[1,2,3,4]`, where `y` can take on values `[2,4,6]`, and where the `x` and `y` values are not equal.

In [23]:
# Exercise 5A
 
list_of_odds = [ x for x in range(-10,11) if x % 2 != 0]
list_of_odds
 
# Exercise 5B
 
firsthalf_alphabet = ['A','a','B','b','C','c','D','d','E','e','F','f','G','g','H','h','I','i','J','j','K','k','L','l','M','m']
 
sentence = 'To construct the notion of a Lie group in Dirac geometry, extending the definition of Poisson Lie groups, the Courant algebroids A must themselves carry a multiplicative structure.'
 
Count_of_alphabets = [x for x in sentence if x in firsthalf_alphabet]
len(Count_of_alphabets)
 
count = 0
for x in sentence:
    if x in firsthalf_alphabet:
        count += 1
print (count)
 
# Exercise 5C
 
l = [[x,y] for x in [1,2,3,4] for y in [2,4,6] if x != y ]
print(l)

72
[[1, 2], [1, 4], [1, 6], [2, 4], [2, 6], [3, 2], [3, 4], [3, 6], [4, 2], [4, 6]]

Exercise 6. Write a list comprehension that gives us the transpose of a matrix.

In [27]:
list1 = [[1,2],[0,1], [3,4]]
 
list2 = [ x[::-1] for x in list1]
list2[::-1]

[[4, 3], [1, 0], [2, 1]]

Exercise 7. Write a function which sorts this list of strings into chronological order.

In [25]:
contracts = ['ETM15','ESZ14','EUS15','ESH15','ESU14']
 
def chronological_order(listname):
    emptylist = []
    for x in listname:
        backwards = (x[::-1])
        emptylist.append(backwards)
        reveresed = sorted(emptylist)
 
    emptylist2 = []
    for i in reveresed:
        backwards2 = (i[::-1])
        emptylist2.append(backwards2)  
    print(emptylist2)
 
chronological_order(contracts)

['ESU14', 'ESZ14', 'ESH15', 'ETM15', 'EUS15']