## Pandas :

In [2]:
import numpy as np
import pandas as pd

Exercise 1. For a given dataframe: 
    A. Add a new column
    B. Redefine a column
    C. Add a new row
    D. Redefine a row

In [4]:
df1 = pd.DataFrame(np.random.randint(0,200, size = (20 , 5)) , columns = ['First','Second','Third','Fourth','Fifth'] 
                  , index =list('abcdefghijklmnopqrst'))


# How to add new columns 

df1['Sixth'] = range(0,100,5)

# How to redefine columns

df1['Sixth'] = df1['Fifth'] * 2

# How would we add a new row

df1.loc['u'] = [0,1,-1,2,-2,3]

# How to redefine rows  

df1.loc['v'] = df1.loc['b'] + df1.loc['d']

df1.tail()

   First  Second  Third  Fourth  Fifth  Sixth
r     54     185    166     194    182    364
s     95     179     11     168      0      0
t     24       8    140     155    144    288
u      0       1     -1       2     -2      3
v    312      31    245     102    172    344

Exercise 2. For a given dataframe
    
   A. Create a new column called 'Value', which is Price * Qty, but is negative if the transaction is a buy, and positive if the transaction is a sell.  
    
   B. How would we determine the money we made on these transactions?

In [6]:
pc = pd.DataFrame({'Buy_or_Sell':['B','S','B','S','S','B'],
                   'Price':[2204.0,2275.5,2250.75,2230.0,2280.75,2282.25],'Qty':[1,2,1,2,1,3]})

pc['Value'] = (pc['Price'] * pc['Qty']).where(pc['Buy_or_Sell'] == 'S', pc['Price'] * - pc['Qty'])

pc['Value'].sum()

-9.75

Exercise 3. Import the file `customer_data.csv` and answer the following questions.
   1. The marketing department would like to target a campaign to medium sized (100-999 Employees) customers who are in either Education or Food Services, and who currently spend less than $\$5000$ total per year on all services.     2. Create a boolean column called INCLUDE that indicates whether the customer on that row should be included in the campaign.
   3. How many customers are in the campaign?
   4. Pandas has a function called crosstab which prints cross tabulations of categorical variables. Use the crosstab function to determine how many customers in each industry and province are included in the campaign.
   5. Create a file called customerids.csv that contains only a list of CUSTOMER_IDs to be included in the campaign.

In [6]:
ci = pd.read_csv("/Users/taraahmadi/Documents/GitHub/Data-Science/customer_info.csv")

ci["INCLUDE"] = (ci["EMP"] >= 100) & (ci["EMP"] < 1000) & (ci["INDUSTRY"].isin(["Food Services", "Education"])) & (ci["MOBILITY"] + ci["INTERNET"] <= 5000)
ci.head()

,CUSTOMER_ID,INDUSTRY,EMP,ANNUAL_SALES,PROVINCE,MOBILITY,INTERNET,INCLUDE
0,129078,Finance and Insurance,36.0,NaN,AB,10192.825459,699.539869,False
1,128424,Construction,261.0,10675108.0,BC,17367.492873,1907.819410,False
2,125960,Finance and Insurance,10.0,756786.0,AB,6162.609229,1789.017919,False
3,120981,Construction,31.0,1223808.0,BC,19176.373541,2123.016418,False
4,129251,Education,NaN,1148650.0,AB,1538.194116,1620.096543,False

In [4]:
# in is for lists .isin() is for series and the difference is because of the vectorization
# the name of | is pipe

len(ci[ci["INCLUDE"] == True])

# We actually don't need to write True by default it will bring back True  
# or sum(ci['INCLUDE'])

88

In [9]:
pd.crosstab(ci[ci["INCLUDE"]]["INDUSTRY"], ci[ci["INCLUDE"]]["PROVINCE"])

PROVINCE       AB  BC
INDUSTRY
Education      12   9
Food Services  34  33

In [8]:
ci[ci["INCLUDE"]]["CUSTOMER_ID"].to_csv("customerids.csv", index=False) #we write the index = False to exclude the indexes